* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --base: #262626;
    --border: #3c4043;
    --aside: #8e8e8e;
    --footer: #1a1818;
    --background: #202124;
    --header-color: #e8eaed;
    --primary-color: #bdc1c6;
    --secondary-color: #9aa0a6;
    --link-color: #8ab4f8;
}

body {
    position: relative;
    color: var(--primary-color);
    background: var(--background);
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

.blue-link {
    color: #8ab4f8;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
}

.blue-link:hover {
    text-decoration: underline;
}

.post-time {
    color: var(--secondary-color);
}

.header-svg {
    color: #8e8e8e;
    height: 30px;
}

.header-nav-wrapper {
    /* border-bottom: 1px solid #494646; */
    margin-top: 1.9rem;
}

.empty {
    height: 25px;
}

.header-nav-wrapper header {
    display: flex;
    justify-content: space-between;
}

.left-header,
header .search {
    display: flex;
}

.left-header {
    position: relative;
}

.logo {
    padding: 4px 28px 0 30px;
    display: flex;
    align-items: center;
}

.left-header .logo a img {
    height: 2.1em;
}

header .left-header form {
    background-color: #303134;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
    border-radius: 24px;
    margin: 0 auto;
    min-width: 538px;
    width: 690px;
    height: 50px;
    padding: 5px 4px 0 14px;
    display: flex;
    align-items: center;
    flex: 1;
}

.empty-input {
    display: flex;
    margin-right: 6px;
}


/* .search-tools img {
    margin-left: 7px;
}

/* header form .form-svg {
    justify-content: flex-start;
} */

header form input[type="text"] {
    flex: 1;
    height: 39px;
    min-width: 337px;
    line-height: 39px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--header-color);
    padding: 0 0 3px;

    /* flex: 1;
    display: flex; */
}

.search-tools {
    display: flex;
}

.header-svg {
    padding-left: 10px;
}

.close--svg {
    display: flex;
    align-items: center;
}

.close-svg {
    padding-right: 10px;
    padding-left: 0 !important;
    cursor: pointer;
}

.close-border {
    height: 100%;
    width: 2px;
    background-color: #5f5a5a;

}

.search-tools:last-child {
    padding-right: 10px;
}


/* RIGHT HEADER */



header .right-header {
    /* position: absolute;
    right: 30px; */
    display: flex;
    align-items: center;

    padding-right: 40px;
}

.right-header-links {
    display: flex;
}

.right-header-links a {
    margin-left: 10px;
}


.right-header-links .profile {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    background-color: #004d40;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* NAV */

nav .nav {
    display: flex;
    justify-content: space-between;
    width: 680px;
    color: var(--secondary-color);
    margin-left: 11rem;
}

.nav-svg {
    height: 16px;
}

.left-nav,
.right-nav {
    display: flex;
}

.nav-items div span {
    font-size: 14px;
}

.nav-items:not(.all) {
    margin: 13px 1px 0;
    line-height: 16px;
}

.nav-items:not(.all) {
    padding: 17px 12px 11px 10px;
}

.all {
    margin: 11px 1px 0;
    padding: 17px 12px 11px 10px;
    line-height: 16px;
}

.all-content span:first-child,
.nav-items div:not(.all-content) {
    display: flex;
    align-items: center;
}

.nav-items:not(.all) {
    display: flex;
    align-items: flex-start;
}

.all-content span img,
.nav-items div img {
    margin-right: 5px;
}

.all-border {
    background: var(--link-color);
    height: 3px;
    margin-top: 11px;
}


/* LOADING TIME */


.header-margin-left {
    margin-left: 11rem;

}

.loading-time {
    min-width: 652px;
    line-height: 43px;
    padding-right: 8px;
    /* margin-left: 28px; */
    font-size: 14px;
    color: var(--secondary-color);
}

.loading-time a {
    font-size: 14px;
}

.header-nav-wrapper .lionel-messi {
    margin: 4px 0 17px;
    padding-top: 8px;
    display: flex;
}

.lionel-messi .pic-text {
    margin-right: 16px;
}

.pic-text {
    display: flex;
}

.pic-text .pic img {
    margin-right: 19px;
    height: 56px;
    border-radius: 8px;
}

.pic-text .section-header {
    padding-top: 8px;
    font-size: 28px;
    line-height: 26px;
}

.pic-text .text {
    line-height: 17px;
}

.pic-text .text .football {
    font-size: 14px;
    color: #969ba1;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

.text span img {
    padding: 1px 0 1px 6px;
    height: 20px;

}

.lm-borders {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.lm-borders .lm-border {
    margin: 14px 0 6px 8px;
    padding: 0 1px 1px;
}

.lm-border span {
    padding: 11px 19px;
    border-radius: 100px;
    background-color: #46474c;
}

.lm-border span:hover {
    background-color: #656569;
}

.overview {
    border: 1px solid var(--primary-color);
}

.main-aside-container {
    display: flex;
}


.main-aside-container main {
    width: 505;
    margin-left: 11rem;
    margin-right: 3.5rem;
    margin-top: 6px;
    margin-bottom: 44px;
}

/*ASIDE */

aside {
    margin-left: 44px;
    padding-bottom: 15px;
    width: 50%;
    max-width: 400px;
    margin-right: 6rem;
    margin-top: 6px;
}

.messi-bio {
    border-left: 1px solid var(--border);

}

.about {
    margin-top: 6px;
    width: 336px;
    max-width: 367px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.about .section-header {
    font-size: 18px;
    line-height: 24px;
}

.about-content {
    padding-top: 8px;
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    line-height: 16px;
}

.about-content-item {
    line-height: 22px;
    margin-top: 7px;
    font-size: 14px;
}

.bio-intro {
    margin: 6px 0;
    font-size: 14px;
}

.ac-item-header {
    font-weight: 700;
    font-size: 14px;
}

.feedback {
    margin-top: 8px;
}

.about-content .feedback div:first-child {
    display: flex;
    justify-content: space-between;
}

.about-content .feedback .button {
    max-width: 70%;
    line-height: 16px;
    border-radius: 18px;
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 8px;
}

.button a {
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.button a img {
    height: 16px;
}

.button a span {
    padding: 0 8px;
    font-size: 14px;
}

.fb-text span {
    margin-top: 16px;
    font-size: 12px;
    color: var(--secondary-color);
    display: flex;
    align-items: flex-end;
}


/* Profiles */

.profiles {
    padding-left: 20px;
    padding-bottom: 20px;
}


/* ASIDE */


aside .profiles .section-header {
    padding-bottom: 0;
    margin-bottom: 12px;
    font-size: 18px;
}

.profile-socials:not(hr) {
    display: flex;
}

.ps-item a {
    display: flex;
    flex-direction: column;
    width: 72px;
}

.instagram {
    padding-right: 8px;
}

.youtube,
.facebook {
    padding: 0 8px;
}

.ps-item a img {
    height: 32px;
    width: 32px;
    border: 4px;
    margin: 0 auto;
    border-radius: 4px;
}


.ps-item a span {
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
    color: var(--primary-color);
}

.ps-item a:hover {
    text-decoration: underline var(--primary-color);
}


/* MAIN */


/* MORE IMAGES */

.more-images {
    margin-bottom: 44px;
    border-radius: 8px;
    display: flex;
}

.more-images-items img {
    height: 144px;
}

.more-images-items:not(.messi-1) {
    margin-left: 2px;
}

.messi-1 img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 194px;
}

.messi-2 img {
    width: 112px;
}

.messi-3 img {
    width: 195px;
}

.messi-four {
    position: relative;
}

.messi-4 img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 145px;
}

.more-images .more {
    padding: 0 8px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
    border-bottom-right-radius: 12px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 4px;
}

.more-images .more:hover {
    background: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
}

.more-images .more img {
    height: 20px;
    margin-top: 6px;
    margin-right: 8px;
}

/* TOP STORIES */

.top-stories {
    margin: 44px 0;
}

.top-stories .section-header {
    margin-bottom: 16px;
}

.ts-news-content {
    position: relative;
}

.ts-news-content-A-B-wrapper {
    display: flex;
    padding: 12px 0;
}

.ts-news-content-A,
.ts-news-content-B {
    display: flex;
    flex-direction: column;
}

.ts-news-content-A {
    border-right: 1px solid #3c4043;
    padding-right: 15px;
}

.tsn-content-A-A {
    display: flex;
    padding-right: 12px;
    position: relative;
    height: 143px;
}

.content-A-A-logo-text {
    padding: 12px 0 40px;
}

.content-A-A-text a {
    font-size: 16px;
    line-height: 24px;
}

.content-A-A-text .post-time {
    position: absolute;
    bottom: 12px;
    font-size: 14px;
    line-height: 16px;
}

.content-A-A-logo-text .content-A-A-logo {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.content-A-A-logo-text .content-A-A-logo img {
    margin-right: 8px;
    border-radius: 2px;
}

.tsn-content-A-A-post-pic img {
    margin: 12px 0 12px 12px;
    border-radius: 8px;
    height: 92px;
    width: 92px;
}


.ts-news-content-B {
    padding-left: 15px;
}


/* MORE NEWS */

.more-news,
.view-all {
    position: relative;
    padding-top: 16px;
    line-height: 18px;
    height: 36px;
}


.more-news a,
.view-all a {
    color: var(--primary-color);
}

.more-news hr,
.about-content hr,
.profiles hr,
.stats hr {
    margin-top: 18px;
    border: 0;
    height: 1px;
    background-color: var(--border);
    width: 100%;
}

.view-all hr {
    border: 0;
    height: 1px;
    background-color: var(--border);
    width: 100%;
}

.more-news-content,
.view-all-content {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    height: 36px;
    width: 300px;
    background-color: #303134;
    font-size: 14px;
    position: relative;
    bottom: 100%;
}

.more-news-content span:first-child,
.view-all-content span:first-child {
    color: var(--header-color);
    padding-right: 8px;
    max-width: 200px;
}

.more-news-content span img,
.view-all-content span img {
    height: 20px;
    width: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.more-news-content:hover,
.view-all-content:hover {
    background-color: #3c4043;
}



/* .more-news-content {
 
    position: absolute;
    bottom: -17px;
    left: 28%;
    padding: 20px 70px;
    
} */

/* .more-news-content a {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .more-news .more-news-content a {
    color: var(--primary-color);
} */






/* LINK DIRECT */

.link-directs {
    margin: 30px 0;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.link-directs-header {
    display: flex;
}

.link-directs-header a {
    color: #bdc1c6;
    font-size: 15px;
}

.link-directs-header a span {
    color: #969ba1;
    font-size: 14px;
}

.search-menu {
    width: 58px;
    display: flex;
    justify-content: center;
}

.search-menu img {
    height: 19px;
    padding-bottom: 2px;
}

.news-header .blue-link {
    padding-top: 5px;
    margin-bottom: 3px;
    font-size: 20px;
}

.news {
    padding-top: 5px;
    line-height: 22px;
}

.news .post-time {
    font-size: 14px;
}

.britannica-news-content .brit-3 {
    margin: 5px 0;
}

.brit-3 {
    font-size: 14px;
}

.brit-3 .blue-link {
    font-size: 14px;
}

.brit-3-table-row {
    display: table-row;
    line-height: 22px;

}

.brit-3-table-cell {
    display: table-cell;
}

.brit-3-table-row div:nth-child(2) {
    padding-left: 25px;
}

.paa-content-B .link-directs {
    margin: 0 !important;
    padding: 0 !important;
}

.paa-news-content {
    margin-bottom: 3px;
}

.search-for {
    margin-bottom: 10px;
    padding-top: 20px;
    line-height: 25px;
    font-size: 16px;
}


/* RELATED SEARCHES AND PEOPLE ALSO ASK */

.related-searches,
.people-also-ask {
    margin: 44px 0;
}

.section-header {
    /* position: relative; */
    display: flex;
    align-items: center;
    color: var(--header-color);
    padding-bottom: 8px;
}

.section-header span,
.asp-header span {
    font-size: 22px;
}

.section-header img {
    /* position: absolute;
    top: -1px; */
    height: 22px;
    cursor: pointer;
    line-height: 16px;
    padding-left: 12px;
}

.border {
    border-top: 1px solid var(--border);
}

/* PEOPLE AlSO ASK */

.paa-content-A {
    margin-top: 10px;
    padding-bottom: 10px;
}

.paa-content-A span:first-child {
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px 0 0;
}

.paa-content-A .post-time {
    font-size: 12px;
    padding-left: 8px;

}

.paa-content-B {
    margin-bottom: 4px;
    width: 600px;
}


/* VIDEOS */


/* .videos {
} */


.videos {
    margin: 44px 0;
}


.video {
    display: flex;
    height: 94px;
}

.videos .vid-header {
    display: flex;
    align-items: center;
}

.vid-header span {
    font-size: 22px;
}

.vid-header img {
    height: 24px;
    margin-left: 5px;
}

.vid-video {
    display: flex;
}

.vid-content {
    position: relative;
    margin-top: 11px;
    margin-bottom: 46px;
    width: 124px;
    height: 70px;
    cursor: pointer;
}

.up-down-arrow {
    background-color: rgba(0, 0, 0, 0.54);
    position: absolute;
    z-index: 1001;
    top: 8px;
    right: 8px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 2px;
}

.up-down-arrow img {
    height: 14px;
    transform: rotate(45deg);
}

.vid-content .play {
    color: #fff;
    left: 50%;
    opacity: 0.87;
    position: absolute;
    top: 46%;
    transform: translate(-50%, -50%);
    height: 38px;
    z-index: 1001;
}

.vid-content .play img {
    height: 35px;
}

.play-time {
    width: 44px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    position: absolute;
    z-index: 1001;
    bottom: 0px;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.54);
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    padding: 1px;
}

.vid-video {
    display: flex;
}

.vid-content a {
    margin: 12px 0;
}

.vid-content a img {
    /* height: 100%; */
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
}

.vid-content a img:hover {
    display: none;
}

.vid-content a video {
    position: absolute;
    left: 0;
    border-radius: 5px;
    height: 100%;
    visibility: none;
}


.vid-content a video:hover {
    position: absolute;
    z-index: 1000;
    visibility: visible;
}


.vid-text {
    /* height: 94px; */
    padding: 12px 0 12px 20px;
    flex-direction: column;
    /* flex-grow: 1; */
    justify-content: space-between;
    display: flex;
}

/* .vid-text .blue-link {
    margin-bottom: 12px;
} */

.vid-text a {
    color: #bdc1c6;
    font-size: 15px;
    line-height: 22px;
    font-size: 14px;
}

.vid-text a span:nth-child(2) {
    color: #969ba1;
    font-size: 14px;
}

.vid-text .post-time {
    font-size: 14px;
}


/* ARGENTINA PLAYERS */


.asp,
.paa {
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

.paa {
    padding: 8px 0;

}

.asp-header .header span:first-child,
.paa-header .header span:first-child {
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.paa-header .header span:first-child,
.asp-header .header span:first-child {
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
    padding: 0 !important;
}

.asp-header label span:first-child img {
    height: 40px;
    border-radius: 4px;
    margin-right: 12px;
}

.team-name {
    font-size: 16px !important;
    margin: 4px 0;
}

.asp-header label span:nth-child(2) img,
.paa-header label span:nth-child(2) img {
    transform: rotate(90deg);
    height: 24px;
}

.asp-header .header,
.paa-header .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asp-header .asp-content,
.paa-header .paa-content {
    /* padding: 0 30px; */
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
}

.asp-header input[type="checkbox"],
.paa-header input[type="checkbox"] {
    display: none;
}

.asp-header input[type="checkbox"]:checked~.asp-content,
.paa-header input[type="checkbox"]:checked~.paa-content {

    /* padding: 30px 30px; */
    max-height: 600px;
}

.asp-header input[type="checkbox"]:checked~.header span:nth-child(2) img,
.paa-header input[type="checkbox"]:checked~.header span:nth-child(2) img {
    transform: rotate(-90deg);
}

.asp-header input[type="checkbox"]:checked~.header span:nth-child(1) img {
    display: none;
}

.asp-profiles {
    margin: 8px 0 16px;
    /* display: inline-flex; */
    display: flex;
    justify-content: space-between;
}

.asp-profile {
    width: 102px;

}

.asp-profile a {
    color: var(--primary-color);
    /* margin-right: 8px; */
}

.asp-profile a:hover {
    text-decoration: underline;
}

.asp-profile-pic img {
    height: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.asp-profile-name {
    width: 75%;
    margin: 0 8px;
    line-height: 19px;
    font-size: 14px;
}


/* FEEDBACK BORDER */

.paa-feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0 16px;

}

.feedback-border {
    /* border: 1px solid var(--border); */
    height: 1px;
    width: 100%;
    background-color: var(--border);
}

.paa-feedback div:nth-child(2) {
    font-size: 14px;
    color: var(--secondary-color);
    margin-left: 14px;

}

/* SEE MORE BUTTON */

.asp-see-more {
    margin: 0 0 20px;
}

.asp-see-more a {
    height: 36px;
    margin: 0 auto;
}

.asp-see-more .search-link {
    min-height: 36px;
    justify-content: center;
    width: 300px;
}

.asp-see-more .search-link:hover {
    /* background-color: var(--primary-color); */
    text-decoration: none;
    background-color: #656569;
}

.seemore-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seemore-button span {
    font-size: 14px;
    padding-right: 8px;
    color: var(--header-color);
}

.seemore-button img {
    height: 20px;
}

/* SEARCH BUTTONS */


.also-search {
    padding-top: 12px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
}

/* .also-search-A,
.also-search-B {
    display: flex;
} */

.search-link {
    color: var(--primary-color);
    background-color: #303134;
    min-height: 48px;
    width: 318px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    background-color: #303134;
    padding: 0 17px;
    /* position: relative; */
    margin: 4px 8px;
}

.search-link:hover {
    text-decoration: underline;
}

.also-search-content .search-button {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.search-button img {
    padding: 10px;
}

.search-button div {
    max-width: 227px;
    margin-left: 16px;
}




/* TABLE - PAGE NUMBERS */

.page-numbers table {
    margin: 30px auto 30px;
    border-collapse: collapse;
    text-align: left;
    border-spacing: 3px;
    font-size: 14px;
    display: table;
}

.page-numbers tr {
    vertical-align: top;
}

.page-numbers td {
    display: table-cell;
    vertical-align: inherit;
}

.td {
    padding: 0;
    text-align: center;
}

.td a {
    color: var(--link-color);
}

.td a:hover {
    text-decoration: underline;
}

.G {
    display: block;
    width: 28px;
    height: 40px;
    background: url(/images/pager-logo.png) -24px -112px / 167px no-repeat;
    width: 28px;
}

.grey-o {
    background: url(/images/pager-logo.png) -53px -112px / 167px no-repeat;
    width: 20px;
    display: block;
    height: 40px;
}

.gle {
    background: url(/images/pager-logo.png) -96px -112px / 167px no-repeat;
    width: 71px;
    display: block;
    height: 40px;
}

.next {
    margin-left: 53px;
}

*/
/* FOOTER */

footer {
    height: 106px;
    padding-top: 12px;
    margin-top: 10px;
    color: var(--secondary-color);
    line-height: 40px;
    padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
}

.footer {
    background-color: #171717;
}

.location {
    border-bottom: 1px solid #3c4043;
    font-size: 14px;
    padding-left: 27px;
    padding-top: 12px;
    line-height: 44px;
    display: flex;

}

.country {
    font-size: 15px;
    color: var(--secondary-color);
}

.city-links a {
    font-size: 14px;
}

.city-links a:hover {
    text-decoration: none;
}

.circle-city {
    font-size: 14px;
    display: inline-block;
    margin-left: 13px;
    padding-left: 16px;
    border-left: 1px solid #3c4043;
    color: #999da2;
    /* line-height: 15px; */
}

.circle-city .circle {
    margin: 6px 4px 9px 0;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 10px;
    background-color: #999da2;
}

.circle-city span:nth-child(2) {
    font-weight: 700;
}

.footer-links {
    font-size: 14px;
    line-height: 40px;
    padding-bottom: 12px;
}

.footer-links span a {
    color: var(--secondary-color);
    line-height: 22px;
    padding-left: 27px;
}

.footer-links span a:hover {
    color: var(--primary-color);
}